#piano {
    margin:auto;
    
    width:60%;

    display: block; 
    margin: 0 auto;
}

#tempo {
    width:2.75%;
    position:absolute;
    top:20%;
    left: 47%;
}

#tempoNum {
    position:absolute;
    top:22.5%;
    left: 49%;
}

#resultsH1 {
    position:fixed;
    left: 50%;
    transform: translate(-50%, -50%);

}
#playButton {
    position:fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top:40em;
}
#resultsBackButton {
    position:fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top:45em;
}
body {
    text-align:center;

}

#output {
    position:relative;
    top:10em;
}
script {
    
}