<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Forest Ma">
    <meta name="keywords" content="Harmony, Composition">
    <meta name="description" content="Four Part Writer">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Four Part Writer</title>
    <script src="https://cdn.jsdelivr.net/npm/vexflow@4.2.2/build/cjs/vexflow.js"></script>


</head>

<body>
    <h1>Four Part Writer</h1>
    <form action="#" method="post">
        <p>Key:</p>
        <input type="text" name="key">
        <p></p>
        <p>Melody:</p>
        <input type="text" name="melody">
        <input type="submit" value="submit">
    </form>

</body>
</html>